.containers-row{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;
    margin: 1em 2em;    
}
.small-title{
    align-self: flex-start;
    font-size: 0.9em;
}
.container.pdb{
    flex: 1;
    margin: 0;
    height: 150px;
}
.dbstatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.online{
   background-color: green;
   padding: 0.5em 1em;
   border-radius: 4px;
}
.mount{
   background-color: yellow;
   padding: 0.5em 1em;
   border-radius: 4px;
}
.nomount{
    background-color: red;
    padding: 0.5em 1em;
   border-radius: 4px;
}
.storage-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.storage-content .main-info{
    font-weight: 900;
    font-size: 90%;
}
.storage-content .sec-info{
    font-weight: 700;
    font-size: 70%;
}
.search-title{
    justify-self: start;
}