:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #2C3E50;
  background-color: #F5F9FF;;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color:#4A90E2;
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Button */
button {
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background 0.2s ease;
}

button:hover {
  background: #357ABD;
}

.error-code{
  font-size: clamp(5rem, 10vw, 8rem); /* responsive HUGE number */
  font-weight: 800;
  line-height: 1;
  margin: 0;
  color: var(--primary-color);
}
.error-msg{
 font-size: 1.2rem;
  color: #6B7280;
}
.error-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.patient-page{
  margin: 0 auto;
}

.navbar{
width: 100vw;
max-height: 5rem;
display: flex;
flex-direction: row;
justify-content: space-between ;
align-items: center;
padding: 0.7rem 4rem;
background-color: #b4cbec ;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.navbar button {
  width: fit-content;
  padding: 0.15rem 1.5rem;
  margin: 0;
}
input[type="date"]{
  padding: 0.5rem 0.8rem;
    border: 1.5px solid #007ACC;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007ACC;
    background-color: #E6F7FF;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}
.detailPage{
  display: flex;
  flex-direction: column;
  width: 100vw;
}